_apidocs/gui-services/v1/Agency.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:FPDS="http://www.fpdsng.com/FPDS" targetNamespace="http://www.fpdsng.com/FPDS" name="Agency" version="1.0">
	<types>
	<schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.fpdsng.com/FPDS" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:FPDS="http://www.fpdsng.com/FPDS">
   <import namespace ="http://www.fpdsng.com/FPDS/schema/SystemServices/1.0/Service.xsd"/>
    <import namespace ="http://www.fpdsng.com/FPDS/schema/DataCollection/organizations/1.0/Agency.xsd"/>
    <import namespace ="http://www.fpdsng.com/fpds/schema/common/1.0/Common.xsd"/>
  <import namespace ="http://www.fpdsng.com/FPDS/schema/SystemAdministration/users/1.0/User.xsd"/>
	<complexType name="getNewAgencyURLResponseType">
			<complexContent>
				<extension base="FPDS:responseType">
					<sequence>
						<element name="agencyURL" type="FPDS:urlType" />
					</sequence>
				</extension>
			</complexContent>
	</complexType>
	<complexType name="getExistingAgencyURLResponseType">
			<complexContent>
				<extension base="FPDS:responseType">
					<sequence>
						<element name="agencyURL" type="FPDS:urlType" />
					</sequence>
				</extension>
			</complexContent>
	</complexType>
	</schema>
	</types>

	<message name="getNewAgencyURLInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="agency" type="FPDS:agencyType"/>
	</message>
	<message name="getExistingAgencyURLInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="agencyID" type="FPDS:agencyIDType"/>
	</message>
	<message name="getNewAgencyURLOutput">
		<part name="agencyURL" type="FPDS:getNewAgencyURLResponseType"/>
	</message>
	<message name="getExistingAgencyURLOutput">
		<part name="agencyURL" type="FPDS:getExistingAgencyURLResponseType"/>
	</message>
	
	<portType name="AgencyPortType">
		<operation name="getNewAgencyURL">
			<input message="FPDS:getNewAgencyURLInput"/>
			<output message="FPDS:getNewAgencyURLOutput"/>
		</operation>
		<operation name="getExistingAgencyURL">
			<input message="FPDS:getExistingAgencyURLInput"/>
			<output message="FPDS:getExistingAgencyURLOutput"/>
		</operation>
	</portType>
	<binding name="AgencyBinding" type="FPDS:AgencyPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getNewAgencyURL">
			<soap:operation/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Agency"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Agency"/>
			</output>
		</operation>
		<operation name="getExistingAgencyURL">
			<soap:operation/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Agency"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Agency"/>
			</output>
		</operation>
	</binding>
	<service name="Agency">
		<port name="AgencyPort" binding="FPDS:AgencyBinding">
			<soap:address location="http://www.fpdsng.com/FPDS/BusinessServices/DataCollection/contracts/1.0/Agency"/>
		</port>
	</service>
	<documentation>WSDL for the Agency GUI web services</documentation>
</definitions>
