_apidocs/gui-services/v1/Country.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:FPDS="http://www.fpdsng.com/FPDS" targetNamespace="http://www.fpdsng.com/FPDS" name="Country">
	<documentation>WSDL for the Country GUI web services</documentation>
	<types>
		<schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.fpdsng.com/FPDS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:FPDS="http://www.fpdsng.com/FPDS">
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/SystemServices/1.0/Service.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/DataCollection/locations/1.0/Country.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/common/1.0/Common.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/SystemAdministration/users/1.0/User.xsd"/>

			<complexType name="getNewCountryURLResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="countryURL" type="FPDS:urlType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="getExistingCountryURLResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="countryURL" type="FPDS:urlType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
	</types>
	<message name="getNewCountryURLInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="country" type="FPDS:countryType"/>
	</message>
	<message name="getExistingCountryURLInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="countryKey" type="FPDS:countryKeysType"/>
	</message>
	<message name="getNewCountryURLOutput">
		<part name="countryURL" type="FPDS:getNewCountryURLResponseType"/>
	</message>
	<message name="getExistingCountryURLOutput">
		<part name="countryURL" type="FPDS:getExistingCountryURLResponseType"/>
	</message>
	<portType name="CountryPortType">
		<operation name="getNewCountryURL">
			<input message="FPDS:getNewCountryURLInput"/>
			<output message="FPDS:getNewCountryURLOutput"/>
		</operation>
		<operation name="getExistingCountryURL">
			<input message="FPDS:getExistingCountryURLInput"/>
			<output message="FPDS:getExistingCountryURLOutput"/>
		</operation>
	</portType>
	<binding name="CountryBinding" type="FPDS:CountryPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getNewCountryURL">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Country"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Country"/>
			</output>
		</operation>
		<operation name="getExistingCountryURL">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Country"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Country"/>
			</output>
		</operation>
	</binding>
	<service name="Country">
		<port name="CountryPort" binding="FPDS:CountryBinding">
			<soap:address location="https://www.fpds.gov/FPDS/GUIServices/DataCollection/locations/1.0/Country"/>
		</port>
	</service>
</definitions>
