_apidocs/gui-services/v1/Place.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:FPDS="http://www.fpdsng.com/FPDS" targetNamespace="http://www.fpdsng.com/FPDS" name="Place">
	<documentation>WSDL for the Place GUI web services</documentation>
	<types>
		<schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.fpdsng.com/FPDS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:FPDS="http://www.fpdsng.com/FPDS">
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/SystemServices/1.0/Service.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/DataCollection/locations/1.0/Place.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/common/1.0/Common.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/SystemAdministration/users/1.0/User.xsd"/>

			<complexType name="getNewPlaceURLResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="placeURL" type="FPDS:urlType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="getExistingPlaceURLResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="placeURL" type="FPDS:urlType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
	</types>
	<message name="getNewPlaceURLInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="place" type="FPDS:placeType"/>
	</message>
	<message name="getExistingPlaceURLInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="placeKey" type="FPDS:placeKeyType"/>
	</message>
	<message name="getNewPlaceURLOutput">
		<part name="placeURL" type="FPDS:getNewPlaceURLResponseType"/>
	</message>
	<message name="getExistingPlaceURLOutput">
		<part name="placeURL" type="FPDS:getExistingPlaceURLResponseType"/>
	</message>
	<portType name="PlacePortType">
		<operation name="getNewPlaceURL">
			<input message="FPDS:getNewPlaceURLInput"/>
			<output message="FPDS:getNewPlaceURLOutput"/>
		</operation>
		<operation name="getExistingPlaceURL">
			<input message="FPDS:getExistingPlaceURLInput"/>
			<output message="FPDS:getExistingPlaceURLOutput"/>
		</operation>
	</portType>
	<binding name="PlaceBinding" type="FPDS:PlacePortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getNewPlaceURL">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Place"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Place"/>
			</output>
		</operation>
		<operation name="getExistingPlaceURL">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Place"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.Place"/>
			</output>
		</operation>
	</binding>
	<service name="Place">
		<port name="PlacePort" binding="FPDS:PlaceBinding">
			<soap:address location="https://www.fpds.gov/FPDS/GUIServices/DataCollection/locations/1.0/Place"/>
		</port>
	</service>
</definitions>
