_apidocs/gui-services/v1/PSC.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:FPDS="http://www.fpdsng.com/FPDS" targetNamespace="http://www.fpdsng.com/FPDS" name="PSC" version="1.0">
	<types>
	<schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.fpdsng.com/FPDS" 
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:FPDS="http://www.fpdsng.com/FPDS">
   <import namespace ="http://www.fpdsng.com/FPDS/schema/SystemServices/1.0/Service.xsd"/>
    <import namespace ="http://www.fpdsng.com/FPDS/schema/DataCollection/ServiceClassifications/1.0/PSC.xsd"/>
    <import namespace ="http://www.fpdsng.com/fpds/schema/common/1.0/Common.xsd"/>
  <import namespace ="http://www.fpdsng.com/FPDS/schema/SystemAdministration/users/1.0/User.xsd"/>
	<complexType name="getNewPSCURLResponseType">
			<complexContent>
				<extension base="FPDS:responseType">
					<sequence>
						<element name="PSCURL" type="FPDS:urlType" />
					</sequence>
				</extension>
			</complexContent>
	</complexType>
	<complexType name="getExistingPSCURLResponseType">
			<complexContent>
				<extension base="FPDS:responseType">
					<sequence>
						<element name="PSCURL" type="FPDS:urlType" />
					</sequence>
				</extension>
			</complexContent>
	</complexType>
	</schema>
	</types>

	<message name="getNewPSCURLInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="PSC" type="FPDS:PSCType"/>
	</message>
	<message name="getExistingPSCURLInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="PSCCode" type="FPDS:PSCCodeType"/>
	</message>
	<message name="getNewPSCURLOutput">
		<part name="PSCURL" type="FPDS:getNewPSCURLResponseType"/>
	</message>
	<message name="getExistingPSCURLOutput">
		<part name="PSCURL" type="FPDS:getExistingPSCURLResponseType"/>
	</message>
	
	<portType name="PSCPortType">
		<operation name="getNewPSCURL">
			<input message="FPDS:getNewPSCURLInput"/>
			<output message="FPDS:getNewPSCURLOutput"/>
		</operation>
		<operation name="getExistingPSCURL">
			<input message="FPDS:getExistingPSCURLInput"/>
			<output message="FPDS:getExistingPSCURLOutput"/>
		</operation>
	</portType>
	<binding name="PSCBinding" type="FPDS:PSCPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getNewPSCURL">
			<soap:operation/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.PSC"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.PSC"/>
			</output>
		</operation>
		<operation name="getExistingPSCURL">
			<soap:operation/>
			<input>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.PSC"/>
			</input>
			<output>
				<soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.PSC"/>
			</output>
		</operation>
	</binding>
	<service name="PSC">
		<port name="PSCPort" binding="FPDS:PSCBinding">
			<soap:address location="http://www.fpdsng.com/FPDS/BusinessServices/DataCollection/contracts/1.0/PSC"/>
		</port>
	</service>
	<documentation>WSDL for the PSC GUI web services</documentation>
</definitions>
