_apidocs/business-services/v1/Department.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:FPDS="http://www.fpdsng.com/FPDS" targetNamespace="http://www.fpdsng.com/FPDS" name="Award">
	<documentation>WSDL for the Department web services</documentation>
	<types>
		<schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.fpdsng.com/FPDS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:FPDS="http://www.fpdsng.com/FPDS">
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/SystemServices/1.0/Service.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/DataCollection/organizations/1.0/Department.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/SystemAdministration/users/1.0/User.xsd"/>

			<complexType name="createDepartmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="department" type="FPDS:departmentType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="updateDepartmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="department" type="FPDS:departmentType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="getDepartmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="department" type="FPDS:departmentType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="deleteDepartmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isDeleted" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="enableDepartmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isEnabled" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="disableDepartmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isDisabled" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="existsDepartmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isExists" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="getListDepartmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="listOfDepartments" type="FPDS:listOfDepartmentsType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
	</types>
	<message name="createInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="department" type="FPDS:departmentType"/>
	</message>
	<message name="updateInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="department" type="FPDS:departmentType"/>
	</message>
	<message name="getInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="departmentID" type="FPDS:departmentIDType"/>
	</message>
	<message name="getListInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="departmentSearchCriteria" type="FPDS:departmentSearchCriteriaType"/>
	</message>
	<message name="existsInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="departmentID" type="FPDS:departmentIDType"/>
	</message>
	<message name="deleteInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="departmentID" type="FPDS:departmentIDType"/>
	</message>
	<message name="disableInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="departmentID" type="FPDS:departmentIDType"/>
	</message>
	<message name="enableInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="departmentID" type="FPDS:departmentIDType"/>
	</message>
	<message name="createOutput">
		<part name="createDepartmentResponse" type="FPDS:createDepartmentResponseType"/>
	</message>
	<message name="updateOutput">
		<part name="updateDepartmentResponse" type="FPDS:updateDepartmentResponseType"/>
	</message>
	<message name="getOutput">
		<part name="getDepartmentResponse" type="FPDS:getDepartmentResponseType"/>
	</message>
	<message name="getListOutput">
		<part name="getListDepartmentResponse" type="FPDS:getListDepartmentResponseType"/>
	</message>
	<message name="existsOutput">
		<part name="existsDepartmentResponse" type="FPDS:existsDepartmentResponseType"/>
	</message>
	<message name="deleteOutput">
		<part name="deleteDepartmentResponse" type="FPDS:deleteDepartmentResponseType"/>
	</message>
	<message name="disableOutput">
		<part name="disableDepartmentResponse" type="FPDS:disableDepartmentResponseType"/>
	</message>
	<message name="enableOutput">
		<part name="enableDepartmentResponse" type="FPDS:enableDepartmentResponseType"/>
	</message>
	<portType name="DepartmentPortType">
		<operation name="create">
			<input message="FPDS:createInput"/>
			<output message="FPDS:createOutput"/>
		</operation>
		<operation name="update">
			<input message="FPDS:updateInput"/>
			<output message="FPDS:updateOutput"/>
		</operation>
		<operation name="get">
			<input message="FPDS:getInput"/>
			<output message="FPDS:getOutput"/>
		</operation>
		<operation name="getList">
			<input message="FPDS:getListInput"/>
			<output message="FPDS:getListOutput"/>
		</operation>
		<operation name="exists">
			<input message="FPDS:existsInput"/>
			<output message="FPDS:existsOutput"/>
		</operation>
		<operation name="delete">
			<input message="FPDS:deleteInput"/>
			<output message="FPDS:deleteOutput"/>
		</operation>
		<operation name="disable">
			<input message="FPDS:disableInput"/>
			<output message="FPDS:disableOutput"/>
		</operation>
		<operation name="enable">
			<input message="FPDS:enableInput"/>
			<output message="FPDS:enableOutput"/>
		</operation>
	</portType>
	<binding name="DepartmentBinding" type="FPDS:DepartmentPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="create">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</output>
		</operation>
		<operation name="update">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</output>
		</operation>
		<operation name="get">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</output>
		</operation>
		<operation name="getList">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</output>
		</operation>
		<operation name="exists">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</output>
		</operation>
		<operation name="delete">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</output>
		</operation>
		<operation name="disable">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</output>
		</operation>
		<operation name="enable">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.organiations.Department"/>
			</output>
		</operation>
	</binding>
	<service name="Department">
		<port name="DepartmentPort" binding="FPDS:DepartmentBinding">
			<soap:address location="https://www.fpds.gov/FPDS/BusinessServices/DataCollection/organizations/1.0/Department"/>
		</port>
	</service>
</definitions>
