_apidocs/business-services/v1/IDV.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:FPDS="https://www.fpds.gov/FPDS" targetNamespace="https://www.fpds.gov/FPDS" name="IDV">
	<types>
		<schema elementFormDefault="qualified" targetNamespace="https://www.fpds.gov/FPDS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:FPDS="https://www.fpds.gov/FPDS">
			<include schemaLocation="https://www.fpds.gov/FPDS/schema/SystemServices/1.2/Service.xsd"/>
			<include schemaLocation="https://www.fpds.gov/FPDS/schema/DataCollection/contracts/1.5/IDV.xsd"/>
			<include schemaLocation="https://www.fpds.gov/FPDS/schema/SystemAdministration/users/1.5/User.xsd"/>
			<include schemaLocation="https://www.fpds.gov/FPDS/schema/DataCollection/contracts/1.5/IDVTemplate.xsd"/>
			<complexType name="createIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="IDV" type="FPDS:IDVType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="updateIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="IDV" type="FPDS:IDVType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="getIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="IDV" type="FPDS:IDVType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="approveIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isApproved" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="deleteIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isDeleted" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="existsIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isExists" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="isCompleteIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isCompleted" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="isExistingIDVCompleteResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isCompleted" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="getListIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="listOfIDVSummaries" type="FPDS:listOfIDVSummariesType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="correctIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="IDV" type="FPDS:IDVType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="voidContractIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="IDV" type="FPDS:IDVType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="createFromTemplateIDVRequestType">
				<sequence>
					<element name="templateName" type="FPDS:templateNameType"/>
					<element name="IDV" type="FPDS:IDVType"/>
				</sequence>
			</complexType>
			<complexType name="createFromTemplateIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="IDV" type="FPDS:IDVType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="getVersionIDVResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="versionNumber" type="string" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
	</types>
	<message name="createInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDV" type="FPDS:IDVType"/>
	</message>
	<message name="createFromTemplateInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="createFromTemplateIDVRequest" type="FPDS:createFromTemplateIDVRequestType"/>
	</message>
	<message name="updateInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDV" type="FPDS:IDVType"/>
	</message>
	<message name="existsInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDVID" type="FPDS:contractIDType"/>
	</message>
	<message name="getListInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDVSearchCriteria" type="FPDS:IDVSearchCriteriaType"/>
	</message>
	<message name="getInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDVID" type="FPDS:contractIDType"/>
	</message>
	<message name="isCompleteInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDV" type="FPDS:IDVType"/>
	</message>
	<message name="isExistingIDVCompleteInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDVID" type="FPDS:contractIDType"/>
	</message>
	<message name="deleteInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDVID" type="FPDS:contractIDType"/>
	</message>
	<message name="correctInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDV" type="FPDS:IDVType"/>
	</message>
	<message name="voidContractInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDV" type="FPDS:IDVType"/>
	</message>
	<message name="approveInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDVID" type="FPDS:contractIDType"/>
	</message>
	<message name="getVersionInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="IDVID" type="FPDS:contractIDType"/>
	</message>
	<message name="createOutput">
		<part name="createIDVResponse" type="FPDS:createIDVResponseType"/>
	</message>
	<message name="createFromTemplateOutput">
		<part name="createFromTemplateIDVResponse" type="FPDS:createFromTemplateIDVResponseType"/>
	</message>
	<message name="updateOutput">
		<part name="updateIDVResponse" type="FPDS:updateIDVResponseType"/>
	</message>
	<message name="existsOutput">
		<part name="existsIDVResponse" type="FPDS:existsIDVResponseType"/>
	</message>
	<message name="getListOutput">
		<part name="getListIDVResponse" type="FPDS:getListIDVResponseType"/>
	</message>
	<message name="getOutput">
		<part name="getIDVResponse" type="FPDS:getIDVResponseType"/>
	</message>
	<message name="isCompleteOutput">
		<part name="isCompleteIDVResponse" type="FPDS:isCompleteIDVResponseType"/>
	</message>
	<message name="isExistingIDVCompleteOutput">
		<part name="isExistingIDVCompleteResponse" type="FPDS:isExistingIDVCompleteResponseType"/>
	</message>
	<message name="deleteOutput">
		<part name="deleteIDVResponse" type="FPDS:deleteIDVResponseType"/>
	</message>
	<message name="correctOutput">
		<part name="correctIDVResponse" type="FPDS:correctIDVResponseType"/>
	</message>
	<message name="voidContractOutput">
		<part name="voidContractIDVResponse" type="FPDS:voidContractIDVResponseType"/>
	</message>
	<message name="approveOutput">
		<part name="approveIDVResponse" type="FPDS:approveIDVResponseType"/>
	</message>
	<message name="getVersionOutput">
		<part name="getVersionIDVResponse" type="FPDS:getVersionIDVResponseType"/>
	</message>
	<portType name="IDVPortType">
		<operation name="get">
			<input message="FPDS:getInput"/>
			<output message="FPDS:getOutput"/>
		</operation>
		<operation name="getList">
			<input message="FPDS:getListInput"/>
			<output message="FPDS:getListOutput"/>
		</operation>
		<operation name="create">
			<input message="FPDS:createInput"/>
			<output message="FPDS:createOutput"/>
		</operation>
		<operation name="createFromTemplate">
			<input message="FPDS:createFromTemplateInput"/>
			<output message="FPDS:createFromTemplateOutput"/>
		</operation>
		<operation name="exists">
			<input message="FPDS:existsInput"/>
			<output message="FPDS:existsOutput"/>
		</operation>
		<operation name="approve">
			<input message="FPDS:approveInput"/>
			<output message="FPDS:approveOutput"/>
		</operation>
		<operation name="delete">
			<input message="FPDS:deleteInput"/>
			<output message="FPDS:deleteOutput"/>
		</operation>
		<operation name="isComplete">
			<input message="FPDS:isCompleteInput"/>
			<output message="FPDS:isCompleteOutput"/>
		</operation>
		<operation name="isExistingIDVComplete">
			<input message="FPDS:isExistingIDVCompleteInput"/>
			<output message="FPDS:isExistingIDVCompleteOutput"/>
		</operation>
		<operation name="update">
			<input message="FPDS:updateInput"/>
			<output message="FPDS:updateOutput"/>
		</operation>
		<operation name="correct">
			<input message="FPDS:correctInput"/>
			<output message="FPDS:correctOutput"/>
		</operation>
		<operation name="voidContract">
			<input message="FPDS:voidContractInput"/>
			<output message="FPDS:voidContractOutput"/>
		</operation>
		<operation name="getVersion">
			<input message="FPDS:getVersionInput"/>
			<output message="FPDS:getVersionOutput"/>
		</operation>
	</portType>
	<binding name="IDVBinding" type="FPDS:IDVPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="get">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="getList">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="create">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="createFromTemplate">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="exists">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="approve">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="delete">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="isComplete">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="isExistingIDVComplete">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="update">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="correct">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="voidContract">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
		<operation name="getVersion">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.contracts.IDV"/>
			</output>
		</operation>
	</binding>
	<service name="IDV">
		<port name="IDVPort" binding="FPDS:IDVBinding">
			<soap:address location="https://www.fpds.gov/FPDS/BusinessServices/DataCollection/contracts/1.5/IDV"/>
		</port>
	</service>
</definitions>
