_apidocs/business-services/v1/NAICS.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:FPDS="http://www.fpdsng.com/FPDS" targetNamespace="http://www.fpdsng.com/FPDS" name="Award">
	<documentation>WSDL for the NAICS web services</documentation>
	<types>
		<schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.fpdsng.com/FPDS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:FPDS="http://www.fpdsng.com/FPDS">
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/SystemServices/1.0/Service.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/DataCollection/ServiceClassifications/1.0/NAICS.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/SystemAdministration/users/1.0/User.xsd"/>

			<complexType name="createNAICSResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="NAICS" type="FPDS:NAICSType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="updateNAICSResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="NAICS" type="FPDS:NAICSType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="getNAICSResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="NAICS" type="FPDS:NAICSType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="deleteNAICSResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isDeleted" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="enableNAICSResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isEnabled" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="disableNAICSResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isDisabled" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="existsNAICSResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isExists" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="getListNAICSResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="listOfNAICSs" type="FPDS:listOfNAICSsType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
	</types>
	<message name="createInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="NAICS" type="FPDS:NAICSType"/>
	</message>
	<message name="updateInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="NAICS" type="FPDS:NAICSType"/>
	</message>
	<message name="getInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="NAICSCode" type="FPDS:NAICSCodeType"/>
	</message>
	<message name="getListInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="NAICSSearchCriteria" type="FPDS:NAICSSearchCriteriaType"/>
	</message>
	<message name="existsInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="NAICSCode" type="FPDS:NAICSCodeType"/>
	</message>
	<message name="deleteInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="NAICSCode" type="FPDS:NAICSCodeType"/>
	</message>
	<message name="disableInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="NAICSCode" type="FPDS:NAICSCodeType"/>
	</message>
	<message name="enableInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="NAICSCode" type="FPDS:NAICSCodeType"/>
	</message>
	<message name="createOutput">
		<part name="createNAICSResponse" type="FPDS:createNAICSResponseType"/>
	</message>
	<message name="updateOutput">
		<part name="updateNAICSResponse" type="FPDS:updateNAICSResponseType"/>
	</message>
	<message name="getOutput">
		<part name="getNAICSResponse" type="FPDS:getNAICSResponseType"/>
	</message>
	<message name="getListOutput">
		<part name="getListNAICSResponse" type="FPDS:getListNAICSResponseType"/>
	</message>
	<message name="existsOutput">
		<part name="existsNAICSResponse" type="FPDS:existsNAICSResponseType"/>
	</message>
	<message name="deleteOutput">
		<part name="deleteNAICSResponse" type="FPDS:deleteNAICSResponseType"/>
	</message>
	<message name="disableOutput">
		<part name="disableNAICSResponse" type="FPDS:disableNAICSResponseType"/>
	</message>
	<message name="enableOutput">
		<part name="enableNAICSResponse" type="FPDS:enableNAICSResponseType"/>
	</message>
	<portType name="NAICSPortType">
		<operation name="create">
			<input message="FPDS:createInput"/>
			<output message="FPDS:createOutput"/>
		</operation>
		<operation name="update">
			<input message="FPDS:updateInput"/>
			<output message="FPDS:updateOutput"/>
		</operation>
		<operation name="get">
			<input message="FPDS:getInput"/>
			<output message="FPDS:getOutput"/>
		</operation>
		<operation name="getList">
			<input message="FPDS:getListInput"/>
			<output message="FPDS:getListOutput"/>
		</operation>
		<operation name="exists">
			<input message="FPDS:existsInput"/>
			<output message="FPDS:existsOutput"/>
		</operation>
		<operation name="delete">
			<input message="FPDS:deleteInput"/>
			<output message="FPDS:deleteOutput"/>
		</operation>
		<operation name="disable">
			<input message="FPDS:disableInput"/>
			<output message="FPDS:disableOutput"/>
		</operation>
		<operation name="enable">
			<input message="FPDS:enableInput"/>
			<output message="FPDS:enableOutput"/>
		</operation>
	</portType>
	<binding name="NAICSBinding" type="FPDS:NAICSPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="create">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</output>
		</operation>
		<operation name="update">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</output>
		</operation>
		<operation name="get">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</output>
		</operation>
		<operation name="getList">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</output>
		</operation>
		<operation name="exists">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</output>
		</operation>
		<operation name="delete">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</output>
		</operation>
		<operation name="disable">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</output>
		</operation>
		<operation name="enable">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.NAICS"/>
			</output>
		</operation>
	</binding>
	<service name="NAICS">
		<port name="NAICSPort" binding="FPDS:NAICSBinding">
			<soap:address location="https://www.fpds.gov/FPDS/BusinessServices/DataCollection/ServiceClassifications/1.0/NAICS"/>
		</port>
	</service>
</definitions>
