_apidocs/business-services/v1/SystemEquipmentCode.wsdl

<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:FPDS="http://www.fpdsng.com/FPDS" targetNamespace="http://www.fpdsng.com/FPDS" name="Award">
	<documentation>WSDL for the Program, System or Equipment Code web services</documentation>
	<types>
		<schema elementFormDefault="qualified" version="1.0" targetNamespace="http://www.fpdsng.com/FPDS" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:FPDS="http://www.fpdsng.com/FPDS">
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/SystemServices/1.0/Service.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/SystemAdministration/users/1.0/User.xsd"/>
			<include schemaLocation="http://www.fpdsng.com/FPDS/schema/DataCollection/ServiceClassifications/1.1/SystemEquipmentCode.xsd"/>		

			<complexType name="createSystemEquipmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="systemEquipment" type="FPDS:systemEquipmentType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="updateSystemEquipmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="systemEquipment" type="FPDS:systemEquipmentType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="getSystemEquipmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="systemEquipment" type="FPDS:systemEquipmentType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="enableSystemEquipmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isEnabled" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="disableSystemEquipmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isDisabled" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="existsSystemEquipmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="isExists" type="boolean" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
			<complexType name="getListSystemEquipmentResponseType">
				<complexContent>
					<extension base="FPDS:responseType">
						<sequence>
							<element name="listOfSystemEquipment" type="FPDS:listOfSystemEquipmentType" nillable="true" minOccurs="0"/>
						</sequence>
					</extension>
				</complexContent>
			</complexType>
		</schema>
	</types>
	<message name="createInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="systemEquipment" type="FPDS:systemEquipmentType"/>
	</message>
	<message name="updateInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="systemEquipment" type="FPDS:systemEquipmentType"/>
	</message>
	<message name="getInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="systemEquipmentCode" type="FPDS:systemEquipmentCodeType"/>
	</message>
	<message name="getListInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="systemEquipmentSearchCriteria" type="FPDS:systemEquipmentSearchCriteriaType"/>
	</message>
	<message name="existsInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="systemEquipmentCode" type="FPDS:systemEquipmentCodeType"/>
	</message>
	<message name="disableInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="systemEquipmentCode" type="FPDS:systemEquipmentCodeType"/>
	</message>
	<message name="enableInput">
		<part name="authenticationKey" type="FPDS:userAuthenticationKeyType"/>
		<part name="systemEquipmentCode" type="FPDS:systemEquipmentCodeType"/>
	</message>
	<message name="createOutput">
		<part name="createSystemEquipmentResponse" type="FPDS:createSystemEquipmentResponseType"/>
	</message>
	<message name="updateOutput">
		<part name="updateSystemEquipmentResponse" type="FPDS:updateSystemEquipmentResponseType"/>
	</message>
	<message name="getOutput">
		<part name="getSystemEquipmentResponse" type="FPDS:getSystemEquipmentResponseType"/>
	</message>
	<message name="getListOutput">
		<part name="getListSystemEquipmentResponse" type="FPDS:getListSystemEquipmentResponseType"/>
	</message>
	<message name="existsOutput">
		<part name="existsSystemEquipmentResponse" type="FPDS:existsSystemEquipmentResponseType"/>
	</message>
	<message name="disableOutput">
		<part name="disableSystemEquipmentResponse" type="FPDS:disableSystemEquipmentResponseType"/>
	</message>
	<message name="enableOutput">
		<part name="enableSystemEquipmentResponse" type="FPDS:enableSystemEquipmentResponseType"/>
	</message>
	<portType name="systemEquipmentPortType">
		<operation name="create">
			<input message="FPDS:createInput"/>
			<output message="FPDS:createOutput"/>
		</operation>
		<operation name="update">
			<input message="FPDS:updateInput"/>
			<output message="FPDS:updateOutput"/>
		</operation>
		<operation name="get">
			<input message="FPDS:getInput"/>
			<output message="FPDS:getOutput"/>
		</operation>
		<operation name="getList">
			<input message="FPDS:getListInput"/>
			<output message="FPDS:getListOutput"/>
		</operation>
		<operation name="exists">
			<input message="FPDS:existsInput"/>
			<output message="FPDS:existsOutput"/>
		</operation>
		<operation name="disable">
			<input message="FPDS:disableInput"/>
			<output message="FPDS:disableOutput"/>
		</operation>
		<operation name="enable">
			<input message="FPDS:enableInput"/>
			<output message="FPDS:enableOutput"/>
		</operation>
	</portType>
	<binding name="systemEquipmentBinding" type="FPDS:systemEquipmentPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="create">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</output>
		</operation>
		<operation name="update">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</output>
		</operation>
		<operation name="get">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</output>
		</operation>
		<operation name="getList">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</output>
		</operation>
		<operation name="exists">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</output>
		</operation>
		<operation name="disable">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</output>
		</operation>
		<operation name="enable">
			<soap:operation soapAction=""/>
			<input>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</input>
			<output>
				<soap:body use="literal" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:FPDS.BusinessServices.DataCollection.ServiceClassifications.SystemEquipmentCode"/>
			</output>
		</operation>
	</binding>
	<service name="systemEquipment">
		<port name="systemEquipmentPort" binding="FPDS:systemEquipmentBinding">
			<soap:address location="https://www.fpds.gov/FPDS/BusinessServices/DataCollection/ServiceClassifications/1.0/SystemEquipmentCode"/>
		</port>
	</service>
</definitions>
